	body{
	  font-family: 'Nunito', sans-serif;
	  padding-top: 20px;
	  padding-left: 5px;
	  padding-right: 5px;
	  padding-bottom: 50px;
	}
	
	.navbar {
		height: 80px;
		background-color: white;
		border: none;
		color: white;
		z-index: 100;
		transition: background-color 1s ease 0s;
		padding-left: 10%;
		padding-right: 10%;
	}
	
	.nav-item {
		background-color: white;
	}
	
	img.imnav {
		max-width: auto;
		height: 80px;
	}
	
	.newsbox {
		width:60% !important;
		height:80px;
	}
		
	.newsbtn {
		width:15%;
		height:80px;
	}
	
	.card{
		border-radius: 4px;
		background: #fff;
		box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
			transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
		padding: 40px 20px 40px 20px;
		height: 190px;
	}

	.card:hover{
		transform: scale(1.05);
		box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
	}

	.card h3{
		font-weight: 600;
	}
	
	.events{
		border-radius: 4px;
		background: #fff;
		box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
		transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
		padding: 5px 5px 5px 5px;
		height: 500px;
		cursor: pointer;
		text-align: center;
		margin-top: 20px;
	}
	.eventsimg{
		width: 100%;
		max-height: 250px;
		object-fit: cover;
	}
	.old{
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		opacity: 0.5;
		#pointer-events: none;
	}
	.events:hover{
		transform: scale(1.05);
		box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
	}
	.events h5{
		font-weight: 600;
	}
	.events p{
		max-height: 150px;
		min-height: 150px;
		overflow: hidden;
	}
	
	.location{
		border-radius: 4px;
		background: #fff;
		box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
			transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
		padding: 40px 5px 40px 5px;
		#height: 300px;
		cursor: pointer;
		text-align: center;
		margin-top: 20px;
	}

	.location:hover{
		transform: scale(1.05);
		box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
	}

	.location h5{
		padding-top: 10px;
		font-weight: 600;
	}
	
	.gblue{
		color: #4285F4;
	}
	
	.gblue:hover{
		color: #1A73E8;
	}
	
	.team{
		border-radius: 4px;
		background: #fff;
		box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
			transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
		padding: 20px 20px 20px 20px;
		height: 460px;
		cursor: pointer;
		text-align: center;
		margin-top: 20px;
	}

	.team:hover{
		transform: scale(1.05);
		box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
	}

	.team h5{
		padding-top: 5px;
		font-weight: 600;
	}
	
	.teamphoto{
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4285f4+0,4285f4+24,ea4335+25,ea4335+50,fbbc04+51,fbbc04+74,34a853+75,34a853+100 */
		padding: 1rem;
		background: rgb(66,133,244);
		background: -moz-linear-gradient(-45deg,  rgb(66,133,244) 0%, rgb(66,133,244) 24%, rgb(234,67,53) 25%, rgb(234,67,53) 50%, rgb(251,188,4) 51%, rgb(251,188,4) 74%, rgb(52,168,83) 75%, rgb(52,168,83) 100%);
		background: -webkit-linear-gradient(-45deg,  rgb(66,133,244) 0%,rgb(66,133,244) 24%,rgb(234,67,53) 25%,rgb(234,67,53) 50%,rgb(251,188,4) 51%,rgb(251,188,4) 74%,rgb(52,168,83) 75%,rgb(52,168,83) 100%);
		background: linear-gradient(135deg,  rgb(66,133,244) 0%,rgb(66,133,244) 24%,rgb(234,67,53) 25%,rgb(234,67,53) 50%,rgb(251,188,4) 51%,rgb(251,188,4) 74%,rgb(52,168,83) 75%,rgb(52,168,83) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4285f4', endColorstr='#34a853',GradientType=1 );
		padding: 6px;
		width: 100%;
	}
	

	@media(max-width: 990px){
		.card{
			margin: 20px;
		}
	} 
	
	.panel-title {
		position: relative;
	}
			  
	.panel-title::after {
		content: "\f054";
		color: #4285F4;
		top: 7px;
		left: 10px;
		position: absolute;
		font-family: "FontAwesome"
	}

	.panel-title[aria-expanded="true"]::after {
		content: "\f078";
	}
	
	hr.hrgblue{
		width: 40px;
		border-top: 10px solid #4285F4;
		display: inline-block;
	}
	
	hr.hrgblue:hover{
		border-top: 10px solid #1A73E8;
	}
	
	hr.hrgred{
		width: 40px;
		border-top: 10px solid #EA4335;
		display: inline-block;
	}
	
	hr.hrgred:hover{
		border-top: 10px solid #D93025;
	}
	
	hr.hrgyellow{
		width: 40px;
		border-top: 10px solid #FBBC04;
		display: inline-block;
	}
	
	hr.hrgyellow:hover{
		border-top: 10px solid #F9AB00;
	}
	
	hr.hrggreen{
		width: 40px;
		border-top: 10px solid #34A853;
		display: inline-block;
	}
	
	hr.hrggreen:hover{
		border-top: 10px solid #1E8E3E;
	}
			
	#answers {
		padding-top: 10px;
		padding-bottom:10px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	#message {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
	
	#success-alert {
		margin: 0 auto;
	}
	
	@media (max-width:550px) {
		.navbar {
			height: 80px;
			background-color: white;
			border: none;
			color: white;
			z-index: 100;
			transition: background-color 1s ease 0s;
			padding-top: 0px;
			padding-left: 0px;
			padding-right: 0px;
		}
		
		.navbar-toggler {
			background-color: white;
		}
		
		img.imnav {
			height: 60px;
		}
		
		.newsbox {
			width:60% !important;;
			height:60px;
		}
		
		.newsbtn {
			width:30%;
			height:60px;
		}
	}